<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5j6-KgCYNBgQCbt4zpQ92P2yCqooL5uI</string>
	<key>GCM_SENDER_ID</key>
	<string>536866121065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EYfhe.EIfPP68</string>
	<key>PROJECT_ID</key>
	<string>frbspp68</string>
	<key>STORAGE_BUCKET</key>
	<string>frbspp68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536866121065:ios:9da1919b540b1605d109f8</string>
</dict>
</plist>